<!doctype html>
<html>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;0,700;0,900;1,200;1,300;1,400;1,500;1,700;1,800&display=swap"
        rel="stylesheet">
    <title></title>
    <style>
        .header {
            background: lightgreen;
            float: center;
            width: auto;
            padding: 10px;
        }
        
        .texthead1 {
            font-size: 18px;
            margin-bottom: 50px;
        }

        .artilcLeft {
            float: center;
           margin-left: -54px
            
        }

        .main {
            float: left;
            width: 5%;
            height: 95%;
            background-color: #CCCCFF;
        }
    </style>
</head>
</head>

<body>

    <div class="header">
        <button class="button">
            <a href="/">
                Logout</a>
        </button>
    </div>
    <div class="main">


    </div>

    <div class="main">
        <div class="artilcLeft"><br>
            <button class="button">
                <a href="/table?userId">
                    Users</a>
            </button><br><br>
            <button class="button">
                <a href="/singledata">
                    Profile</a>
            </button><br><br>
            <button class="button">
                <a href="/newpassword">
                    password Change</a>
            </button>
            
        </div>
    </div>

</body>

</html>